<div id="title">
    <div class="wrap">
        <h2>Disposable Project</h2>
        <span class="milestone">Milestone 1.0</span>
        <p class="description">The one where we deliver all that we promised.</p>
    </div>
</div>

<div id="content" class="wrap">
    <Hero/>
    <Projects/>
</div>