<div id="title">
    <div class="wrap">
        <h2 class="title">{{ format.title(milestone.title) }}</h2>
        <span class="sub">{{{ format.due(milestone.due_on) }}}</span>
        <p class="description">{{{ format.markdown(milestone.description) }}}</p>
    </div>
</div>

<div id="content" class="wrap">
    <div id="chart">
        <div id="svg"></div>
    </div>
</div>