<div id="head">
  {{#with user}}
    {{#ready}}
      <div class="right" intro="fade">
        {{#if uid}}
          <a on-click="!signout"><Icons icon="signout" /> Sign Out {{github.displayName}}</a>
        {{else}}
          <a class="button" on-click="!signin"><Icons icon="github"/> Sign In</a>
        {{/if}}
      </div>
    {{/ready}}
  {{/with}}

  <a id="icon" href="#">
    <Icons icon="{{icon}}"/>
  </a>

  <!--
  <div class="q">
    <Icons icon="spyglass"/>
    <Icons icon="down-open"/>
    <input type="text" placeholder="Jump to...">
  </div>
  -->

  <ul>
    <li><a href="#new/project" class="add"><Icons icon="plus"/> Add a Project</a></li>
    <li><a href="#demo"><Icons icon="computer"/> See Examples</a></li>
    <li><a href="mailto:burnchart@helpful.io" data-helpful="burnchart" data-helpful-modal="on"><Icons icon="help"/> Contact</a></li>
  </ul>
</div>
