<div id="head">
    <div class="right">
        {{#user}}
            {{user.displayName}} logged in
        {{else}}
            <a href="#" class="github"><span class="icon github"></span> Sign In</a>
        {{/user}}
    </div>

    <h1><span class="icon fire-station"></span></h1>

    <div class="q">
        <span class="icon search"></span>
        <span class="icon down-open"></span>
        <input type="text" placeholder="Jump to...">
    </div>

    <ul>
        <li><a href="#" class="add"><span class="icon plus-circled"></span> Add a Project</a></li>
        <li><a href="#" class="faq">FAQ</a></li>
    </ul>
</div>