<div id="head">
  {{#with user}}
    {{#ready}}
      <div class="right" intro="fade">
        {{#displayName}}
          {{displayName}} logged in
        {{else}}
          <a class="github" on-click="!login"><Icons icon="github"/> Sign In</a>
        {{/displayName}}
      </div>
    {{/ready}}
  {{/with}}

  <a id="icon" href="#">
    <Icons icon="{{icon}}"/>
  </a>

  <!--
  <div class="q">
    <Icons icon="search"/>
    <Icons icon="down-open"/>
    <input type="text" placeholder="Jump to...">
  </div>
  -->

  <ul>
    <li><a href="#new/project" class="add"><Icons icon="plus-circled"/> Add a Project</a></li>
    <li><a href="#" class="faq">FAQ</a></li>
    <li><a href="#reset">DB Reset</a></li>
    <li><a href="#notify">Notify</a></li>
  </ul>
</div>