{{^projects.list}}
    <div id="hero">
        <div class="content">
            <span class="icon address"></span>
            <h2>See your project progress</h2>
            <p>Not sure where to start? Just add a demo repo to see a chart. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            <div class="cta">
                <a href="#project/add" class="primary"><span class="icon plus-circled"></span> Add your project</a>
                <a href="#" class="secondary">Read the Guide</a>
            </div>
        </div>
    </div>
{{/projects.list}}