<div id="hero">
  <div class="content">
    <Icons icon="address"/>
    <h2>See your project progress</h2>
    <p>Not sure where to start? Add your own project or load some example ones. You will see a burndown chart per milestone showing you progress through time as you close issues.</p>
    <div class="cta">
      <a href="#new/project" class="primary"><Icons icon="plus-circled"/> Add your Project</a>
      <a href="#demo" class="secondary"><Icons icon="download-cloud"/> Demo Projects</a>
    </div>
  </div>
</div>