<Header/>

<div id="page">
  <!-- content loaded from a router -->
</div>

<div id="footer">
  <div class="wrap">
    &copy; 2012-2014 <a href="http://cloudfi.re">Cloudfire Systems</a>
  </div>
</div>