<div id="projects">
  <div class="header">
    <a href="#" class="sort"><Icons icon="sort-alphabet"/> Sorted by priority</a>
    <h2>Milestones</h2>
  </div>

  <table>
    {{#project.milestones}}
      <tr>
        <td>
          <a class="milestone" href="#{{project.owner}}/{{project.name}}/{{number}}">{{ title }}</a>
        </td>
        <td style="width:1%">
          <div class="progress">
            <span class="percent">{{Math.floor(progress)}}%</span>
            <span class="due">{{{ due }}}</span>
            <div class="outer bar">
              <div class="inner bar {{on_time}}" style="width:{{progress}}%"></div>
            </div>
          </div>
        </td>
      </tr>
    {{/project.milestones}}
  </table>

  <div class="footer">
    <a href="#"><Icons icon="cog"/> Edit</a>
  </div>
</div>