{{#projects.list}}
    <div id="projects">
        <div class="header">
            <a href="#" class="sort"><span class="icon sort-alphabet"></span> Sorted by priority</a>
            <h2>Projects</h2>
        </div>

        <table>
            {{#projects.list}}
                <tr>
                    <td><a class="repo" href="#">{{owner}}/{{name}}</a></td>
                    {{# { milestone: getMilestone(milestones.list) } }}
                        {{#milestone}}
                            <td>
                                <span class="milestone">
                                    {{ milestone.title }}
                                    <span class="icon down-open">
                                </span>
                            </td>
                            <td>
                                <div class="progress">
                                    <span class="percent">{{Math.floor(format.progress(closed_issues, open_issues))}}%</span>
                                    <span class="due">due {{format.fromNow(due_on)}}</span>
                                    <div class="outer bar">
                                        <div class="inner bar {{format.onTime(milestone)}}" style="width:{{format.progress(closed_issues, open_issues)}}%"></div>
                                    </div>
                                </div>
                            </td>
                        {{/milestone}}
                        {{^milestone}}
                            <td colspan="2"><span class="milestone"><em>No milestones yet</em></td>
                        {{/milestone}}
                    {{/}}
                </tr>
            {{/projects.list}}

            <tr>
                <td><a class="repo" href="#">radekstepan/disposable</a></td>
                <td><span class="milestone">Milestone 1.0 <span class="icon down-open"></span></td>
                <td>
                    <div class="progress">
                        <span class="percent">40%</span>
                        <span class="due">due on Friday</span>
                        <div class="outer bar">
                            <div class="inner bar red" style="width:40%"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="done">
                <td><a class="repo" href="#">radekstepan/burnchart</a></td>
                <td><span class="milestone">Beta Milestone <span class="icon down-open"></span></a></td>
                <td>
                    <div class="progress">
                        <span class="percent">100%</span>
                        <span class="due">due tomorrow</span>
                        <div class="outer bar">
                            <div class="inner bar green" style="width:100%"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a class="repo" href="#">intermine/intermine</a></td>
                <td><span class="milestone">Emma Release 96 <span class="icon down-open"></span></a></td>
                <td>
                    <div class="progress">
                        <span class="percent">27%</span>
                        <span class="due">due in 2 weeks</span>
                        <div class="outer bar">
                            <div class="inner bar red" style="width:27%"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a class="repo" href="#">microsoft/windows</a></td>
                <td><span class="milestone">RC 9 <span class="icon down-open"></span></a></td>
                <td>
                    <div class="progress">
                        <span class="percent">90%</span>
                        <span class="due red">overdue by a month</span>
                        <div class="outer bar">
                            <div class="inner bar red" style="width:90%"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <div class="footer">
            <a href="#"><span class="icon cog"></span> Edit</a>
        </div>
    </div>
{{/projects.list}}