@font-face {
    font-family: 'OpenSansLight';
    src: url('../font/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../font/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fff;
    background-image: url("../img/colbg.jpg");
    background-repeat: repeat-x;
    background-position: 0px 40px;
    overflow-y: auto;
}

body#landingBody {
    background-position: 0px 0px;
}

.navbar .brand i {
    margin-top: 5px;
}

.navbar .brand {
    color: #fff;
    -webkit-transition: color .2s ease-in-out;
    cursor: pointer;
}

.navbar .brand:hover {
    color: rgba(0,215,249,1);
}

.navbar .nav a:hover {
    -webkit-transition: color .3s ease-in-out;
}

.navbar .navbar-inner {
    box-shadow: none;
}

.navbar.blue .navbar-inner {
    background: #0956ae;
    background: -moz-linear-gradient(top,  #0956ae 0%, #024a9e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0956ae), color-stop(100%,#024a9e));
    background: -webkit-linear-gradient(top,  #0956ae 0%,#024a9e 100%);
    background: -o-linear-gradient(top,  #0956ae 0%,#024a9e 100%);
    background: -ms-linear-gradient(top,  #0956ae 0%,#024a9e 100%);
    background: linear-gradient(top,  #0956ae 0%,#024a9e 100%);
}

.navbar.blue .nav > li > a {
    color: #fff;
    opacity: 0.8;
    -webkit-transition: opacity .3s ease-in-out;
}

.navbar.blue .nav > li > a:hover {
    opacity: 1;
}

.navbar.blue .nav > .active > a {
    opacity: 1;
    background-color: rgba(0,0,0,0.2);
}

.navbar .nav i {
    margin-top: 1px;
}

.navbar .nav:last-child i {
    margin-top: 2px;
}

.badge-nav {
    top: 4px;
    background-color: #FFF;
    color: #444;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    text-shadow: none;
}

.sideBar {
    padding-top: 20px;
}

.sideBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sideBar ul > li {
    font-family: "OpenSansLight";
    color: #222;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 2px;
}

.sideBar ul > li figure {
    margin: 0;
    padding: 6px 14px 6px 14px;
    opacity: 0.7;
}

.sideBar ul > li figure:hover {
    background-color: #F9F9F9;
    opacity: 1;
}

.sideBar ul > li.active figure:first-child {
    color: #00AFDB;
    opacity: 1;
}

.sideBar ul.subSide {
    padding: 5px 0px 5px 0px;
    display: none;
}

.sideBar ul.subSide li {
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 5px;
    padding: 4px 10px 5px 14px;
    margin-left: 10px;
}

.sideBar ul.subSide li:hover {
    background-color: rgba(0,175,219,0.1);
}

.sideBar ul li i {
    margin-top: 4px;
}

.sideBar ul > li > figure .badge {
    top: -2px;
    position: relative;
    font-family: "OpenSansRegular";
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    text-shadow: none;
}

.borBox {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.pad40 {
    padding-top: 40px;
}

hr {
    margin: 7px 0px;
}

.content {
    padding: 20px;
}

.btn-sharp {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.sharp .btn:first-child {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.sharp .btn:last-child {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.btn-dashboard {
    padding: 20px;
    height: 100px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tLeft {
    text-align: left;
}

.tRight {
    text-align: right;
}