$closed = #4DAF7C
$opened = #E55F3A
$grey   = #E2E2E2
$ideal  = $grey

body
    font-family: 'Source Sans Pro', sans-serif
    background: linear-gradient(135deg, #d7bcab 0%, #cc9485 100%)
    padding: 100px
    color: #64584C

ul
    list-style-type: none
    padding: 0

    li
        padding: 0

h2
    font-size: 16px
    text-transform: uppercase

.box
    background: #FFF
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2)

    &.generic, &.info, &.error, &.success
        border-top: 4px solid #EAC85D
        padding: 20px
        width: 50%
        margin: 0 auto

    &.info
        border-top-color: #5F90B0

    &.error
        border-top-color: #E45E39

    &.success
        border-top-color: #4DB07A

    a
        color: #64584C

    h1
        margin: 0
        padding: 20px
        color: #64584c
        font-size: 20px
        text-transform: uppercase

#graph
    height: 200px
    position: relative

    #tooltip
        position: absolute
        top: 0
        left: 0

    svg
        path
            &.line
                fill: none
                stroke-width: 1px
                clip-path: url(#clip)

                &.actual
                    stroke: #64584c
                    stroke-width: 3px

                &.ideal
                    stroke: #CACACA
                    stroke-width: 3px

                &.trendline
                    stroke: #64584c
                    stroke-width: 1.5px
                    stroke-dasharray: 5,5

        line
            &.today
                stroke: #CACACA
                stroke-width: 1px
                shape-rendering: crispEdges
                stroke-dasharray: 5,5

        circle
            fill: #64584c
            stroke: transparent
            stroke-width: 15px
            cursor: pointer

        .axis
            shape-rendering: crispEdges
            
            line
                stroke: rgba(#CACACA, 0.25)
                shape-rendering: crispEdges

            text
                font-weight: bold
                fill: #CACACA

            path
                display: none

#progress
    padding: 20px
    border-radius: 0 0 6px 6px

    &:after
        clear: both
        display: block
        content: ""

    .bars
        position: relative
        
        div
            border-radius: 6px
            height: 12px

            &.closed
                position: absolute
                top: 0
                left: 0
                background: $closed

                &:not(.done)
                    border-radius: 6px 0 0 6px
            
            &.opened
                width: 100%
                background: $opened

    h2
        margin: 10px 0 0 0

        &.closed
            float: left
            color: $closed
        
        &.opened
            float: right
            color: $opened