@import "/node_modules/normalize.css/normalize.css";

// Fonts.
@serif_font: "MuseoSlab500Regular", serif;
@sans_serif_font: "MuseoSans500Regular", sans-serif;

#root {
  font-family: @sans_serif_font;
  color: #3e4457;
}

.page {
  max-width: 800px;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  padding: 16px;

  .title {
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
  }
}

.content {
  flex: 1;

  &--milestones {
    .chart {
      margin-bottom: 40px;
    }
  }
}
