@font-face {
    font-family: 'MuseoSlab500Regular';
    src: url('fonts/museo-slab-500.eot');
    src: url('fonts/museo-slab-500.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo-slab-500.woff') format('woff'),
         url('fonts/museo-slab-500.ttf') format('truetype'),
         url('fonts/museo-slab-500.svg#MuseoSlab500Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans500Regular';
    src: url('fonts/museo-sans-500.eot');
    src: url('fonts/museo-sans-500.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo-sans-500.woff') format('woff'),
         url('fonts/museo-sans-500.ttf') format('truetype'),
         url('fonts/museo-sans-500.svg#MuseoSans500Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fontello';
    src: url('fonts/fontello.eot?74672344');
    src: url('fonts/fontello.eot?74672344#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff?74672344') format('woff'),
       url('fonts/fontello.ttf?74672344') format('truetype'),
       url('fonts/fontello.svg?74672344#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}