@import 'nib'

.icon
  vertical-align: middle
  font-family: "Fontello"
  font-style: normal
  font-weight: normal
  speak: none

  display: inline-block
  text-decoration: inherit
  text-align: center

  /* For safety - reset parent styles, that can break glyph codes */
  font-variant: normal
  text-transform: none

  &.spin6
    animation: spin 2s infinite linear

  &.spin4
    animation: spin 2s infinite linear

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg) }
  to { -moz-transform: rotate(360deg) }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg) }
  to { -webkit-transform: rotate(360deg) }
}
@keyframes spin {
  from { transform:rotate(0deg) }
  to { transform:rotate(360deg) }
}