.chart {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
  shape-rendering: crispEdges;

  .apexcharts-series {
    shape-rendering: initial;
  }

  .tooltip {
    font-size: 10px;
    font-family: monospace;
    border-radius: 1px;
    padding: 6px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    text-decoration: none;
  }
}
