.chart {
  shape-rendering: crispEdges;

  .apexcharts-series {
    shape-rendering: auto;
  }

  .tooltip {
    font-size: 8px;
    font-family: monospace;
    border-radius: 1px;
    padding: 3px 4px;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
  }
}
