.table {
  max-width: 800px;
  margin: 0 auto;

  .header {
    margin: 12px 0;

    .heading {
      font-size: 20px;
      color: #3e4457;
      font-weight: 700;
    }
    .sort {
      font-family: "MuseoSlab500Regular", serif;
      text-align: right;
      color: #aaafbf;
    }
  }

  .strong {
    font-weight: 700;
  }
}
